.create {
    color: #555;
    max-width: 450px;
    margin: 60px auto;
  }
  .create label span {
    display: block;
    margin: 30px 0 10px;
  }
  .create p {
    margin-top: 10px;
    font-size: 0.8em;
  }
  .create button {
    display: block;
    width: 100px;
    font-size: 1em;
    color: #fff;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    background-color: #58249c;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
  }
  .ingredients {
    display: flex;
    align-items: center;
  }
  .ingredients button {
    margin: 0 0 0 10px;
  }
  input, textarea {
    display: flex;
    width: 450px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 0 10px;
  }
  .progress {
    background-color: black;
    color: rgb(247, 7, 7);
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    padding: 3px;
  }